.acm-labels {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 4px;
    font-size: var(--pf-global--FontSize--sm);
    color: var(--pf-global--Color--100);
}

.acm-label {
    padding-top: var(--pf-global--spacer--xs);
    padding-right: var(--pf-global--spacer--sm);
    padding-bottom: var(--pf-global--spacer--xs);
    padding-left: var(--pf-global--spacer--sm);
    border-width: var(--pf-global--BorderWidth--sm);
    border-color: var(--pf-global--BorderColor--100);
    border-radius: var(--pf-global--BorderRadius--lg);
    background-color: var(--pf-global--palette--black-150);
    border-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
    max-width: 100%;
}

.acm-label-button {
    color: var(--pf-global--palette--blue-400);
    padding-top: var(--pf-global--spacer--xs);
    padding-right: var(--pf-global--spacer--sm);
    padding-bottom: var(--pf-global--spacer--xs);
    padding-left: var(--pf-global--spacer--sm);
    border-width: var(--pf-global--BorderWidth--sm);
    border-color: var(--pf-global--palette--black-200);
    border-radius: var(--pf-global--BorderRadius--lg);
    border-style: solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: clip;
    cursor: pointer;
}

.acm-label-button:hover {
    border-color: var(--pf-global--palette--black-300);
}

.acm-label-button:focus {
    border-color: var(--pf-global--palette--blue-400);
}
